.App{
  width: 100%;
  height: 740px;
  background-color: rgb(1, 1, 1);
  color: rgb(2, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  background-color:rgb(250, 247, 247);
  width: 450px;
  padding: 50px;
  border-radius: 30px;
}
.header{
text-align: center;
}
.total{
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  background-color: rgb(230, 217, 217);
  border-radius: 30px;
  box-shadow: 0 4px 6px 0 rgb(110, 94, 94) ;
  margin: 20px;
}
.total p{
  color: green;
}
.input{
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: space-around;
  padding: 10px;
}